<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <title>{{ titulo }}</title>
</head>
<body class="bg-dark text-white">
    <h1 class="text-center fw-bold mt-4 mb-1">Brasil<span class="text-success">Tempo</span></h1>

    <!-- Conteúdo aqui -->
    <div class="container py-5">

  <!-- CLIMA ATUAL -->
  <div class="card shadow-lg p-4 mb-4 text-center">
    <h2>{{ dados.results.city }}</h2>
    <h1 class="display-4">{{ dados.results.temp }}°C</h1>
    <p class="lead">{{ dados.results.description }}</p>
    <p>{{ dados.results.date }} - {{ dados.results.time }}</p>
  </div>

  <!-- INFO EXTRA -->
  <div class="row text-center mb-4">

    <div class="col-md-4">
      <div class="card p-3 shadow-sm">
        <h5>Umidade</h5>
        <p>{{ dados.results.humidity }}%</p>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card p-3 shadow-sm">
        <h5>Vento</h5>
        <p>{{ dados.results.wind_speedy }}</p>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card p-3 shadow-sm">
        <h5>Nebulosidade</h5>
        <p>{{ dados.results.cloudiness }}%</p>
      </div>
    </div>

  </div>

  <!-- PREVISÃO -->
  <h3 class="mb-3">Previsão</h3>

  <div class="row">
    {% for dia in dados.results.forecast %}
      <div class="col-md-6 mb-3">
        <div class="card p-3 shadow-sm">
          <h5>{{ dia.weekday }} ({{ dia.date }})</h5>
          <p>{{ dia.description }}</p>
          <p>Máx: {{ dia.max }}°C | Mín: {{ dia.min }}°C</p>
        </div>
      </div>
    {% endfor %}
  </div>

</div>
    <!-- Conteúdo termina-->

    <div class="text-center mb-2">
        <a href="{{ url_for('index') }}" class="btn btn-primary">Voltar</a>
    </div>

</body>
</html>